@model AlienTravelModel
@{
    ViewData["Title"] = "AlienTravel";
}

<section class="centeredPanel">
    <h1 style="text-align:center; font-weight: 600;">Alien Travel Calculator</h1> <br />
    <form action="AlienTravelResult" method="get">
        <span style="font-weight: 500"> Choose a planet</span>
        <select name="Planet">
            <option value="Saturn">Saturn</option>
            <option value="Jupiter">Jupiter</option>
            <option value="Mars">Mars</option>
            <option value="Neptune">Neptune</option>
            <option value="Venus">Venus</option>
            <option value="Mercury">Mercury</option>
            <option value="Uranus">Uranus</option>
        </select>
        <br />
        <span style="font-weight: 500"> Choose a mode of transport</span>
        <select name="Mode">
            <option value="Walking">Walking</option>
            <option value="Car">Car</option>
            <option value="Bullet Train">Bullet train</option>
            <option value="Boeing 747">Boeing 747</option>
            <option value="Concorde">Concorde</option>
        </select>
        <br />
        <span style="font-weight: 500"> Enter your Earth age</span>
        <input type="text" name="Age" /> <br /> <br />
        <input type="submit" value="Calculate Travel Time" />
    </form>


</section>

